/*
####################
####### BASE ####### // All default styling goes here
####################
*/

html, body{
  overflow: hidden;
  //for some reason changing the background color is causing the grid lines not to show up
  background: #191919;
  //background: $light-background-color;
}



