/*
####################
##### Modules ###### //any re-usable elements in your page
####################
*/

// 1. Reset Button
// 2. Choose Size Form
// 3. Grid illustrator
// 4. Code Box
// 5. Code Toggle
//
//


//1. Reset Button
#reset-button{
  display: none;
  position: fixed;
  width: 150px;
  height: 30px;
  background: $medium-background-color;
  text-align: center;
  left: 50%;
  margin-left: (-150px/2);
  cursor: pointer;
}

//2. CHOOSE SIZE CONTAINER
#choose_size_container{
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  background: $medium-background-color;
}

#choose_size_header{
  background: $dark-background-color;
  color: $light-color;
}


#choose_size_form {


  label{
    height: 50px;
    line-height: 50px;
    color: $medium-color;
  }

  input{
    width: 8.33333%;
    margin-top: 14px;
    height: 20px;
    background: $light-background-color;
    border: none;
  }
}

#create_grid{
  margin: 0;
}

#need_help{
  height: 40px;
  line-height: 40px;
  color: $dark-color;
}

//3. Grid & canvas
#canvasGrid{
  display: none;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

//4. Code Box
#code_box_container{
  position: fixed;
  width: 100%;
  height: 230px;
  bottom: -200px;
  left: 0;
  right: 0;
  transition: 1s;
}


#code_box_toggle{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: .7s;
  height: $code-height;
  width: 40px;
  background: #f8f8ff;
  color: black;
  text-align: center;
  cursor: pointer;

  &:hover{

    margin-bottom: 5px;

    + #code_box{
    margin-bottom: -195px;

  }
  }
}

//toggle box when the time is proper
.code_toggle{
height: $code-height;
}

#code_box{
  transition: .7s;
  height: 200px;
  background: black;
  color: white;
  box-shadow: 0 0 0 10px #f8f8ff inset;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

//5. Code Toggle
.code_toggle{
  height: $code-height;
//  width: $code-width;
//  position: absolute;
//  bottom: -($code-height);
  background: white;
  text-align: center;
  line-height: $code-height;
  border-right: 1px solid black;
  transition: 1s;
  cursor: pointer;
  border-bottom: 1px solid #3e4649 ;
}




