/*
####################
##### Modules ###### //any re-usable elements in your page
####################
*/

// 1. header
// 2. Choose Size Form
// 3. Grid illustrator
// 4. Code Box
// 5. Code Toggle
//
//
 

//1. header

//header-container
#header-container {
  display: none;
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0;
  background: white;
  $bord-var: 3px;
  box-shadow: 0 0 0 $bord-var $css_color inset,
          //left border
          ($bord-var) ($bord-var) 0 $bord-var $sass_color inset, ($bord-var*2) ($bord-var*2) 0 $bord-var $less_color inset, ($bord-var*3) ($bord-var*3) 0 $bord-var $js_color inset,
          //right border
          (-$bord-var) (-$bord-var) 0 $bord-var $sass_color inset, (-$bord-var*2) (-$bord-var*2) 0 $bord-var $less_color inset, (-$bord-var*3) (-$bord-var*3) 0 $bord-var $js_color inset;
}

#reset-button, #view-button, #draw-button{
  background: #000;
  text-align: center;
  cursor: pointer;
  color: white;
}

#view-button{
  margin-top: 0;
  border-bottom: 1px solid white;
}

#view-button, #draw-button{
  height: 35px;
  line-height: 35px;
}

#reset-button{
  height: 50px;
  line-height: 50px;
  background: #FF4A00;
  text-transform: uppercase;
  transition: .8s;
  &.warning{
    background: #B33A3A;
  }
}

textarea:focus, input:focus{
  outline: 0;
}

#color-picker{
  display: none;
  color: black;
  margin-top: .5rem;
  label{
    color: #999999;
  }
  input{
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: white;
  }
}

.color-button-styling{
  width: 88%;
  margin-left: 6%;
}

#control_view{
  padding: 0;
}

#hex_label{
  padding-top: 0.5rem;
}

#hex_color{
  height: 30px;
}

#color_bar{
  height: 3px;
  background: black;
}

//2. CHOOSE SIZE CONTAINER
#choose_size_container{
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  background: $medium-background-color;
  font-family: 'Reenie Beanie', cursive;
  max-width: 300px;
}

#choose_size_header{
  background: $dark-background-color;
  color: $light-color;
  font-family: 'Reenie Beanie', cursive;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}


#choose_size_form {


  label{
    height: 30px;
    line-height: 30px;
    color: $medium-color;
    font-size: 20px;
    text-transform: uppercase;
    &:nth-child(1){
      background: #82998F;
    }
    &:nth-child(2){
      background: #5FBF79;
    }
    &:nth-child(5){
      background: #BF975F;
    }

  }

  input{
    width: 50%;
    height: 20px;
    border: none;
    font-size: 20px;
    margin: 0;
    &:nth-child(3){
      background: #82998F;
    }
    &:nth-child(4){
      background: #5FBF79;
    }
    &:nth-child(7){
      background: #BF975F;
      margin-top: -20px;
    }
  }
}

#create_grid{
  margin: 0;
  height: 50px;
  background: #F2A030;
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
}

#need_help{
  display: none;
  height: 40px;
  line-height: 40px;
  color: $dark-color;
}

//3. Grid & canvas
#canvasGrid{
  display: none;
  //background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  cursor: crosshair;
}

//4. Code Box
#code_box_container{
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
}


#code_box_toggle{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: .7s;
  height: $code-height;
  width: 40px;
  background: #f8f8ff;
  color: black;
  text-align: center;
  cursor: pointer;

  &:hover{

    margin-bottom: 5px;

    + #code_box{
    margin-bottom: -195px;

  }
  }
}

//toggle box when the time is proper
.code_toggle{
height: $code-height;
}

.open{
    bottom: 0!important;
 }

#code_box{
  transition: .7s;
  height: 100%;
  background: black;
  color: white;
  box-shadow: 0 0 0 10px #f8f8ff inset;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  overflow: scroll;
  font-family: 'Caveat', cursive;
  &.css_box{
    box-shadow: 0 0 0 10px $css_color inset;
  }
  &.sass_box {
    box-shadow: 0 0 0 10px $sass_color inset;
  }
  &.less_box {
    box-shadow: 0 0 0 10px $less_color inset;
  }
  &.js_box {
    box-shadow: 0 0 0 10px $js_color inset;
  }

}

pre{
  font-family: 'Caveat', cursive;
}


#code_box_border{
  height: .1rem;
  background: $css_color;
  margin-top: 1rem;
  transition: 1.5s;
  &.css_border{
    background: $css_color;
  }
  &.sass_border{
    background: $sass_color;
  }
  &.less_border{
    background: $less_color;
  }
  &.js_border{
    background: $js_color;
  }
}

//5. Code Toggle
.code_toggle{
  height: $code-height;
//  width: $code-width;
//  position: absolute;
//  bottom: -($code-height);
  color: white;
  text-align: center;
  line-height: $code-height;

  transition: 1s;
  cursor: pointer;

}

//different backgrounds for different buttons
#css_toggle{
  background: #1572b6;
}

#sass_toggle{
  background: #CF649A;
}

#less_toggle{
  background: #1d365d;
}

#js_toggle{
  background: #F0DB4F;
}




