head
    title  Code Illustrator
    link(href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')



