doctype
include ../jade/includes/_head.jade

body
  include ../jade/includes/app_components/_header.jade
  include ../jade/includes/app_components/_color_picker.jade
  include ../jade/includes/app_components/_choose_size.jade
  canvas(width = "500" height = "500")#canvasGrid
  include ../jade/includes/app_components/_8_bit_illustrator_grid.jade
  include ../jade/includes/app_components/_code_box.jade
  include ../jade/includes/_scripts.jade
include ../jade/includes/_footer.jade

