#choose_size_container.large-3.center
  h6.row#choose_size_header
    | Choose size of grid
  form#choose_size_form.row.large-12.medium-12.small-12
    label.column.large-6
      | columns
    label.column.large-6
      | rows
    input(type="text" value = "20")#input-for-columns.column.large-6
    input(type="text" value = "20")#input-for-rows.column.large-6
    label.column.large-6
      | Pixel Size
    button(id = "create_grid" type = "button").column.large-6.tiny
      | Create Grid
    input(type="text" value = "20")#input-for-pixel-size.column.large-1.end

  #need_help.row