#choose_size_container.large-3.center
  h6.row#choose_size_header
    | Choose size of grid
  form#choose_size_form.row.large-12.medium-12.small-12
    label.column.large-3
      | columns
    input(type="text" value = "20")#input-for-columns.column.large-1
    label.column.large-2
      | rows
    input(type="text" value = "20")#input-for-rows.column.large-1
    label.column.large-3
      | Pixel Size
    input(type="text" value = "20")#input-for-pixel-size.column.large-1.end
    button(id = "create_grid" type = "button").column.large-12.tiny
      | Create Grid
  #need_help.row