#choose_size_container.large-3.center
  h6.row#choose_size_header
    | Choose size of grid
  form#choose_size_form.row.large-12.medium-12.small-12
    label.column.large-3
      | columns
    input(type="text" value = "20")#input-for-columns.column.large-1
    label.column.large-2
      | rows
    input(type="text" value = "20")#input-for-rows.column.large-1
    label.column.large-3
      | Pixel Size
    input(type="text" value = "20")#input-for-pixel-size.column.large-1.end
    button(id = "create_grid" type = "button").column.large-12.tiny
      | Create Grid
  #need_help.row
    //span
    //  | Need Help?
    //p
    //  | With this simple tool you could generate pixelArt one-element css box-shadow following these few steps:
    //ol
    //  li
    //    | Simply create a grid depending on your needs and set the pixel size for the output. Then toggle the panels (left, right and bottom).
    //  li
    //    | On the left side, set some color presets. You could add up to 13 and manage it just clicking on the number or triggering the numbero on the keyboard (only from 1 to 9).
    //  li On the right side, preview your one-element box-shadow generated.
    //  li On the bottom you could copy the CSS generated code.
    //  p
    //    | This is a beta release. Hope you enjoy it and appreciate your comments to improve this tool.