#code_box_container
  #code_box.css_box.column.large-12
    .row
      #css_toggle.column.large-6.code_toggle
        span CSS
      #sass_toggle.column.large-6.code_toggle
        span SASS
      #less_toggle.column.large-6.code_toggle
        span LESS
      #js_toggle.column.large-6.code_toggle
        span JS
    p#inner_code_box
      | box-shadow:


