#code_box_container.full-width
  .row.full-width
    #css_toggle.column.large-1.code_toggle
      span CSS
    #sass_toggle.column.large-1.code_toggle
      span SASS
    #less_toggle.column.large-1.code_toggle
      span LESS
    #js_toggle.column.large-1.code_toggle
      span JS
    #code_box_toggle.column.large-1
      span
        | +
  .full-width
    #code_box.column.large-12
      <p> box-shadow: </p>


