.row#header-container
  #reset-button.column.large-offset-3.large-1
    | Reset
  #view-button.column.large-1
    | View Mode
  #draw-button.column.large-1.end
    | Draw Mode
.row
  #color-picker.column.large-offset-3.large-6
    .large-4.column
      label
        | hex
        input(type = "text").large-12
    .large-2.column#color_bar
      | bar
    .large-6.column
      .large-4.column
        label
          | R
          input(type = "text")
      .large-4.column
        label
          | G
          input(type = "text")
      .large-4.column
        label
          | B
          input(type = "text")