#header-container
  #color-picker.column.large-12
    .large-12
      label#hex_label
        | Hex
        input#hex_color(type = "text" value = "#000" maxlength="7").large-12
    .large-12#color_bar
    .large-12
      #rgb.large-4.column.no-padding
        label
          | R
          input#red.rgb(type = "text" maxlength="3" value = "000")
      .large-4.column.no-padding
        label
          | G
          input#green.rgb(type = "text" maxlength="3" value = "000")
      .large-4.column.no-padding
        label
          | B
          input#blue.rgb(type = "text" maxlength="3" value = "000")
  #control_view.column
    #view-button.large-12.color-button-styling
      | View Mode
    #draw-button.large-12.color-button-styling
      | Draw Mode
    #reset-button.large-12.color-button-styling
      | Reset
    #control_panel.color-button-styling
      | Toggle View
